$white: #ffffff;
$dark: #131313;
$snow: #f7f7f7;
$sea: #007bff;
$dropzone-border: #c6ccd6;
$dropzone-background: #f9f9fb;
$file-text-color: #8c96a8;
$file-icon-border: lighten(#8c96a8, 15);

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: $snow;
	margin: 2rem 0;
}

.container {
	width: 45rem;
	margin: 0 auto;
	background: $white;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.75rem 1.5rem rgba($dark, 0.03);
}

.dropzone {
	border: 0.0625rem solid $dropzone-border;
	border-radius: 0.5rem;
	background-color: $dropzone-background;
	display: block;

	.dropzone-container {
		padding: 2rem 0;
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $file-text-color;
		z-index: 20;

		.dropzone-title {
			padding-top: 1.5rem;
		}
		.browse {
			text-decoration: underline;
			color: $sea;
		}
	}

	.file-input {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		cursor: pointer;
	}
}

// parent should have z-index
.file-icon {
	/* Need position to allow stacking of pseudo-elements */
	position: relative;
	width: 4rem;
	height: 5.25rem;
	/* Padding for demo purposes */
	padding: 0.625rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 2rem;
	color: $sea;

	&,
	&:before,
	&:after {
		background-color: $white;
		border-radius: 0.25rem;
		border: 0.125rem solid $file-icon-border;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		border: 0.125rem solid lighten($file-icon-border, 7);
	}

	/* Second sheet of paper */
	&:before {
		left: -0.625rem;
		top: 0.5rem;
		z-index: -1;
	}

	&:after {
		top: -0.25rem;
		right: -0.25rem;
		left: auto;
		width: 1.25rem;
		height: 1.25rem;
		border-radius: 0.25rem;
		border-width: 0.625rem;
		border-style: solid;
		border-color: $dropzone-background $dropzone-background $file-icon-border
			$file-icon-border;
	}
}
